@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    text-transform: uppercase; /*tudo maisculo*/
    font-variant: small-caps; /*primeira letra gig, tudo maisuclo*/
}

header > p {
    padding-bottom: 50px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

section{
    padding-top: 10%;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(44, 44, 44);
    color: white;
}

section.image > p {
    width: 500px;
    background-color: rgba(0, 0, 0, 0.247);
    border-radius: 15px;
}

footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}
