 @charset "UTF-8";

body{
    background-color: rgba(250, 221, 184, 0.932);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
   h1{
    color: rgb(73, 28, 14);
    background-color: aliceblue;
}
    h2{
    color: rgb(88, 50, 15);
 }
     p{
        text-align: justify;
     }