@charset "UTF-8"

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');


* {
    font-family: 'Poppins', sans-serif;
}


body {
    background-image: linear-gradient(to right, #8AA6A3, #4C5958);
}

main{
    background-color: white; 
    border-radius: 15px;
    box-shadow: 5px 5px 15px #111414;
    width: 700px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #10403B;
    text-align: center;
    text-shadow: 1px 1px 0px #092421;
}

h2{
    color: #127369;
}
p {
    text-align: justify;
}